@import "normalize";

$dgrey: #6b6f78;
$lgrey: #b7bbbc;
$dblue: #222d3f;
$mblue: #4e647b;
$lblue: #a2c7db;
$llblue: #bee0e7;
$dgreen: #064000;
$mgreen: #0D7F00;
$lgreen: #13BF00;
$white: #F5FFFA;

html, body{
	height: 100%;
}
body{
	font-family: Helvetica, sans-serif;
	background: url(../images/greyzz.png);
	margin:0;
	line-height: 1.5;
	letter-spacing: 1;
	h2{
		// font-family: 'Cinzel', serif;
	}

}
.uniform{
	margin:0 auto;
}

.nav ul{
	background-color: #222d3f;
	width: 100%;
	padding:1%;
	margin: 0;
	position:fixed;
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,45,63,1)), color-stop(64%,rgba(42,71,102,1)), color-stop(64%,rgba(42,71,102,1)), color-stop(100%,rgba(78,100,123,1))); /* Chrome,Safari4+ */

	li{
		display: inline;
		padding:1%;
		color:white, #fff;
		font-family: Helvetica, sans-serif;
	}
}

a{
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 1s;
	&:hover{
 	 color:#bee0e7;
 	}
}

// space for nav to add later
// space for nav to add later
// space for nav to add later

header{
	background: url(../images/NIedit.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding:100px;
	height:100%;
	// resize image to 1300px wide
		h1 {
	 		font-family: 'Cinzel', serif;
	 		color:#fff;
			font-size: 72px;
			margin:0 auto;
			line-height: 1;
			text-shadow: 0px -3px 12px $llblue;
		}
		h1, p{
			text-align: center;
		}
		P{

		}
}
.circle{
  margin: 0 auto;
  width:200px;
  height:200px;
  background: darkorange;
  border-radius:50%;
  border:10px outset black;
 -webkit-box-shadow: inset 0px 1px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 1px 21px -1px rgba(0,0,0,0.75);
box-shadow: inset 0px 1px 21px -1px rgba(0,0,0,0.75);
}
.triangle{
width: 0;
height: 0;
border-style: solid;
border-width: 0 20px 100px 20px;
border-color: transparent transparent #000 transparent;
margin: 0 auto;
}
.tdown{
margin:0 auto;
width: 0;
height: 0;
border-style: solid;
border-width: 80px 20px 0 20px;
border-color: #333 transparent transparent transparent;
}

.container{
	width: 80%;
	margin: 0 auto;
	padding: 0;	
	border-top:10px solid $dgreen;
	box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.54);
}
svg{
	display: inline-block;
	float:left;
	padding:5px;
}

.brief{
	background: $white;
	margin-top: none;
	padding:3%;
	p{
		text-align: left;
		margin: 15px auto;
		width: 66%;
	}
	.briefy{
		margin: 0 auto;
		width: 25%;
		h2{
			margin-bottom:23%;
		}
		.compass{
			width: 81px;
			position: relative;
			bottom: 32px;
			right:10px;
		}
	}
}
article{
	background: $llblue;
	width: 70%;
	float:left;
	border-top: 5px solid $dblue;
	h2{
		margin-top: 10px;
	}
	p{
		width: 75%;
		float: left;
		margin-top: 0;
	}
}

.reflect{
	background: $white;
	border-top: 5px solid $dgrey;
	svg{
		padding:8px;
	}
}

.teambox{
	background: $white;
	padding-bottom: 1%;
	 h2{
	 	text-align: center;
	 	color: $dgrey;
	 }
	 .team{
	 	width: 29%;
	 	float:left;
	 	margin: 1% 1.5% 2% 2.5%;
	 	padding-top: 23%;
	 	background-image: url(../images/doe.jpeg);
	 	background-size: 100%;
	 }

}

aside{
	width: 30%;
	float:right;
}

footer{
	clear:both;
	width: 100%;
	position: absolute;
	background-image:
	  linear-gradient(
        to top, 
        $dblue, $mblue);
	  .lbox{
	  	width: 20%;
	  	float:right;
	  	ul{
	  		border-right: 1px solid #000;
	  		border-left: 1px solid #333;
	  		li{
	  		list-style: none;
	  		}
	  	}
	}
    
}

